// Import Google fonts
// Inter 300 400 600
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
// Work sans 600
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

h1 { 
  font-size: 2.5em;
}
h2 { 
  font-size: 1.842em;
}
h3 { 
  font-size: 1.3572em;
}
small { 
  font-size: .7368em; 
  font-weight: 300;
}
html { 
  font-size: 1.125em; 
  font-weight: 400;
}

h1, h2, h3 {
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
  letter-spacing: -2px;
}

html {
	font-family: 'Inter', sans-serif;
  font-weight: 400;
}

a {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}