$background-ligth: #FFFAFB;
$background-dark: #333333;

$txtcolor-primary: #202020;
$txtcolor-secondary: #FFFAFB;
$txtcolor-subtitle_ligth: #5D5647;
$txtcolor-subtitle_dark: #D6D6D6;

$color-primary: #FFD100;
$color-primary_opacity: #FFEE32;
$color-secondary: rgba(255, 209, 0, 0.5);
$color-secondary_opacirty: rgba(255, 238, 50, 0.5);

$stroke-ligth: #E9E9E9;
$stroke-dark: #232323;