@import "../components/homecard";
@import "../components/categories";


body {
  margin: 0;
}

.homecontainer {
  // display: flex;
  margin: 0 auto;
  width: 60%;

  #voirtous {
    text-align: end;
    font-size: 22px;

    a {
      text-decoration: none;
      color: $txtcolor-subtitle_grey;

    }

    &:hover  {
      a {
        color:$color-primary_opacity;
      }
    }
  }

  .texthome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 16px;
    padding: 0%;
    height: 0;

    h4 {
      margin: 0%;
      color: $txtcolor-primary;
      font-size: 22px ;
    }
  }

}
