<div class="footer-container absolute">
  <div class="footer-content">
    <i class="fa-solid fa-copyright"></i>
    <p>2022 aminder, Inc</p>
    <p>Confidentialité</p>
    <p>Condition générales</p>
  </div>

  <div class="footer-content">

    <%= link_to "https://c.tenor.com/gM1-6B15mjoAAAAC/fran%C3%A7ais-french.gif", target: :_blank do %>
      <div class="french"><i class="fa-solid fa-globe"></i>
      <p>Français (FR)</p></div>
    <% end %>


  <i class="fa-solid fa-euro-sign"></i>
  <p>EUR</p>
  </div>
</div>
