<div class="popup">
  <div class="placement">
    <div class="popup--card">
      <div class="popup--card--form">
        <h2>Mets ton amine en location</h2>
        <div class="popup--card--form--input">
          <%= render "form", amine: @amine %>
        </div>
      </div>
    </div>
  </div>
</div>
