.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 40px;
  gap: 16px;
  background: $color-primary;
  border-radius: 6px;
  border: none;
  transition: all 0.3s ease;
  font-family: 'Inter', sans-serif;
  font-weight: 600;

  &:hover {
    background: $color-secondary;
  }
}

.button {
  padding: 16px;
  background-color: $light-gray;
  border-radius: 16px;
  color: black;
  &.active {
    background-color:#FFC65A;
  }
}
