.categories {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid $background-dark;
}

a {
  color:$txtcolor-subtitle_grey;
  font-size: 18px;
  text-decoration: none;
}

.icone {
  display: flex;
  flex-direction: column;
  justify-content: center;

  a, i{
    align-items: center;
  }

  i {
    color:$txtcolor-subtitle_grey;
    font-size: 30px;
    text-align: center;
  }


}

.link {
  &:hover  {
    i {
      color:$color-primary_opacity;
    }
    a {
      color:$color-primary_opacity;
    }
  }
}


#bordure {
  margin-top: 8px;
  border-bottom: 1px solid $txtcolor-subtitle_grey;

}
