.categories {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 90%;
  padding-top: 10px;

}

.icone {
  display: flex;
  flex-direction: column;
  justify-content: center;

  a, i{
    align-items: center;
  }

  a {
    color:$txtcolor-subtitle_grey;
    font-size: 16px;
    text-decoration: none;
  }

  i {
    color:$txtcolor-subtitle_grey;
    font-size: 30px;
    text-align: center;
  }


}

.link {
  &:hover  {
    i {
      color:$color-primary_opacity;
    }
    a {
      color:$color-primary_opacity;
    }
  }
  span {
    color: $txtcolor-subtitle_grey;
  }

}


#bordure {
  margin-top: 8px;
  border-bottom: 1px solid $txtcolor-subtitle_grey;

}
