.categories {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 90%;
  padding-top: 10px;
}

.icone {
  display: flex;
  flex-direction: column;
  justify-content: center;

  a, i{
    align-items: center;
  }

  a {
  color:black;
    font-size: 16px;
    text-decoration: none;
  }

  i {
    color:black;
    font-size: 30px;
    text-align: center;
  }

  &:hover  {
    a {
      color:$color-primary_opacity;
    }
    i {
      color:$color-primary_opacity;
    }
  }
}


#bordure {
  margin-top: 8px;
  border-bottom: 1px solid #5D5647;

}
