@import "../config/colors";


.account-container{
  width: 90%;
  height: 800px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  }

.accountcard {
  width: 100%;
  height: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
  }

.amine-card {
display: flex;
flex-direction: row;
column-gap: 8px;
height: auto;
width: 40%;
border: 2px solid $light-gray;
border-radius: 16px 16px 16px  16px;

img {
  object-fit: cover;
  border-radius: 16px 0px 0px 16px;
  width: 25%;
}
}

.description-card {
display: flex;
flex-direction: column;
max-height: 100%;
padding: 8px;
row-gap: 8px;
flex-grow: 1;

  p{
    text-align: left;
    margin: 0;
  }
}


.amine-card-user {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  height: 250px;
  width: 600px;
  border: 2px solid $light-gray;
  border-radius: 16px 16px 16px  16px;

  img {
    object-fit: cover;
    border-radius: 16px 0px 0px 16px;
  }
}

.btn-container {
  display: block;
  background-color: $yellow;
  border-radius: 0px 16px 16px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .icone{
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  }
}

.icone:hover .fa-check{
  display: unset;
  color:$green;
}

.icone:hover .fa-xmark{
  display: unset;
  color:$red;
}

.icone:hover .fa-question{
  display: unset;
  color:$light-gray;
}



.account-title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.container-filter{
display: flex;
justify-content:space-around;
padding-left: 50px;
padding-right: 50px;
  span{
  padding: 10px;
  font-size: 24px;
  border: 2px solid $light-gray;
  border-radius: 16px;
  }

}

.new-amine {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;

  a{
    color: $txtcolor-primary;

    &:hover {
      color: $txtcolor-subtitle_ligth;
      transition: color 0.3s ease;
    }
  }
}
