.dropbtn {
  border: 1px solid $background-dark;
  background: transparent;
  cursor: pointer;
  margin: 0;
  text-align: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  border-radius: 100px;
  padding: 5px 5px 2px 12px;
  &--img {
    img {
      background-color: currentcolor;
      border-radius: 50%;
      width: auto;
      height: 40px;
    }
  }
}


.dropdown {
  position: relative;
  &-content {
    display: none;
    position: absolute;
    right: 0;
    top: 52px;
    background: #FFFAFB;
    border: 1px solid $stroke-ligth;
    @include box-shadow;
    border-radius: 16px;
    
    a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;
      gap: 10px;
      
      width: 178px;
      height: 39px;
     
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;

      &:hover {
        background-color: #ddd;
        border-radius: 16px;
      }
       
    } 
  }
  &:hover .dropdown-content {
    display: block;
  }

}

