.footer-container {
  position:relative;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $txtcolor-primary;
  padding: 0;
  margin: 0;
  margin-top: 16px;

  .fa-copyright {
    color:white;
    background-color: $txtcolor-primary;
    border-radius: 50%;
  }

  .fa-euro-sign {
    font-size: 13px;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    padding: 20px 3% 20px;
    align-items: center;

    .french {
      display: flex;
      flex-direction: row;
      column-gap: 8px;
      color: $txtcolor-primary;
      ;
      .fa-globe {
        color:white;
        background-color: $txtcolor-primary;
        border-radius: 50%;
      }
    }
  }

  p {
    margin: 0;
    font-size: 12px;
  }
}

.absolute {
  position: absolute;
}
