@import "dropdown.scss";
@import "logo.scss";
@import "input_search.scss";

.header {
  &__menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 2% 80px;
    background-color: $color-primary;
    &__SearchBarre {
      display: flex;
      flex-direction: column;  
    } 
  }
}
