.header {
  z-index: 10;

  position: sticky;
  top: 0;
  right: 0;
  left: 0;

  max-height: 136px;
  padding: 20px 3% 80px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  background-color: $color-primary;

  &__SearchBarre {
    display: flex;
    flex-direction: column;  
  }

  &--admin {
    max-height: 80px;
    padding: 20px 3%;

    background-color: $background-ligth;

    &__SearchBarre {
      display: none;
    }
  }
}



