.classcard {
  display: flex;
  justify-content: space-between;
  column-gap: 5%;

}

.homecard {
  width: 35%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .card-title {
    color: $txtcolor-primary;
    font-weight: bold;
  }

  .card-mood {
    color: $txtcolor-subtitle_ligth;
  }

  &:last-child{
    flex-grow: 1;
    img {
      width: 100%;
      height: 80vh;
      object-fit: cover;
    }

  }
}


.card {
  display: flex;
  flex-direction: column;
  @include box-shadow;
}


.textcard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;

  p {
    margin: 0;
    padding-bottom: 14px;
  }

  // .card-title {
  //   color: $txtcolor-primary;
  // }

  // .card-mood {
  //   color: $txtcolor-subtitle_ligth;
  // }
}

.price {
  display: flex;
  align-items: center;
}
