.form_label {
  font-size: 16px;
  line-height: 1.5;
  border-radius: 16px;
  color: $txtcolor-primary;
  border-style: solid;
  border-width: 1px;
  padding: 10px 16px;
  @include box-shadow;
  transition: all 0.3s ease;
} 



.form-label::placeholder{
  color: $txtcolor-subtitle_ligth;
}

.form-label:hover {
  outline: none;
  border: 2px solid $stroke-dark;
}

.form-label:focus {
  outline: none;
  background-color: #FFF;
}