.logo {
  background-image: url("img/logos/AMINDERLogotxt.png");
  width: 130px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  a {
    width: 117px;
    height: 40px;
  }
}