.user-info{
display: flex;
flex-direction: row;
justify-content: space-between;

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
  .content{
  border: 2px solid $light-gray;
  max-height: 100%;
  padding: 8px;
  row-gap: 8px;
  flex-grow: 1;
  width: 80%;
  height: auto;
  }


}

.placement{
  display: flex;
  flex-direction: column;
}


.title-poppup{



}
