.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  .placement {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  

  &--card {
    background-color: white;
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
    padding: 8px;
    border-radius: 8px;


    &--amine {
      flex-grow: 1;
      max-height: 100%;

      &--details {
        display: flex;
        flex-direction: column;

        .tags {
          margin: 4px;
        }

        h2 {
          margin: 4px;
        }

        p {
          margin: 4px;
        }
      }

      

      .group--image {
        height: 356px;
        width: 530px;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    &--form {
      width: 416px;
      border-radius: 12px;
      padding: 16px;
      border : 1px solid $stroke-ligth;
      @include box-shadow-light;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      &--input {
        flex-grow: 1;
        width: 100%;

        div {
          p{
            margin: 8px 0 0;
          }
        }

        .new_reservation {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      &--details {
        width: 100%;
        &--price{
          display: flex;
          justify-content: space-between;
          border-top: 1px solid $background-dark;
        }
      }
    }
  }
}


.cross {
  cursor: pointer;
  color: $color-primary;
  font-size: 32px;
  height: 32px;

  &:hover {
    color: $txtcolor-primary;
  }
}

.reservation_date {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.input--place--max {
  flex-grow: 1;
  margin-top: 16px;
}
