.template__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 40px;
}

.searchcard {
  background: $background-ligth;

  display: flex;
  flex-direction: column;
  padding: 0px;

  border: 1px solid #E9E9E9;
  @include box-shadow;
  border-radius: 16px;

  border-radius: 8px;

  &_image {
    object-fit: fill;
    height: 30vh;
    width: auto;

    border-radius: 8px 8px 0px 0px;

  }

  &_infos {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px
  }

  &_footer {
    padding: 8px;
  }
}

.align-tags {
  display: flex;
  column-gap: 8px;
}
